@media (max-width: 376px) {
    .mainPage_questionsList {
        margin: 2rem 0 1rem 0;
        width: 100%;
        font-family: $font-source;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .question_container {
        font-size: 1.2rem;
        font-weight: 500;
        color: $neutral_blue;
        margin: .5rem 0 .5rem 0;
    }

    .answer_container {
        text-align: center;
        color: $neutral_grey;
        overflow: hidden;
        width: 70%;
        height: 15px;
        transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;
        -o-transition: all 2s;
    }

    .answer_container:hover {
        height: 100px;
        transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;
        -o-transition: all 2s;
    }
}



@media(min-width:376px) {
    .mainPage_questionsList {
        margin: 2rem 0 1rem 0;
        width: 100%;
        height: auto;
        font-family: $font-source;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .question_container {
        font-size: 1.2rem;
        font-weight: 500;
        color: $neutral_blue;
        margin: 1rem 0 1rem 0;
    }

    .answer_container {
        text-align: center;
        color: $neutral_grey;
        overflow: hidden;
        width: 70%;
        height: 15px;
        transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;
        -o-transition: all 2s;
    }

    .answer_container:hover {
        height: 100px;
        transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;
        -o-transition: all 2s;
    }
}